.settings-theme,
.settings-theme * {
  box-sizing: border-box;
}
.settings-theme {
  background: #ffffff;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.list-item-select {
  background: #ffffff;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  position: absolute;
  left: 0px;
  top: 108px;
}
.frame-264 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
}
.magicons-flat-user-interface-success {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.success {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.list-item-select2 {
  background: #ffffff;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 81px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  height: 52px;
  position: absolute;
  left: 0px;
  top: 212px;
}
.list-item-select3 {
  background: #ffffff;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 81px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  height: 52px;
  position: absolute;
  left: 0px;
  top: 160px;
}
.top-navigation {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 44px;
  box-shadow: var(
    --border-box-shadow,
    inset 0px -1px 0px 0px rgba(0, 0, 0, 0.04)
  );
}
.frame-78 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.magicons-glyph-arrow-arrow-left {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.arrow-left {
  width: 74.99%;
  height: 50.44%;
  position: absolute;
  right: 12.5%;
  left: 12.51%;
  bottom: 24.78%;
  top: 24.78%;
  overflow: visible;
}
.title2 {
  color: var(--base-dark-dark-50, #212325);
  text-align: center;
  font-family: var(--title-title-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-title-3-font-size, 18px);
  font-weight: var(--title-title-3-font-weight, 600);
  position: relative;
  align-self: stretch;
  width: 247px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.magicons-outline-user-interface-create {
  opacity: 0;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.create {
  width: 68.77%;
  height: 68.75%;
  position: absolute;
  right: 15.6%;
  left: 15.62%;
  bottom: 15.62%;
  top: 15.62%;
  overflow: visible;
}
.home-indicator {
  width: 375px;
  height: 34px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.home-indicator2 {
  background: var(--label-color-light-primary, #000000);
  border-radius: 100px;
  width: 134px;
  height: 5px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
}
.status-bar {
  background: var(--base-light-light-100, #ffffff);
  width: 375px;
  height: 44px;
  position: sticky;
  left: 0px;
  top: 0px;
}
.action {
  position: absolute;
  inset: 0;
}
.time {
  color: var(--colors-dark-base-1, #161719);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.17px;
  font-weight: 600;
  position: absolute;
  left: 19.89px;
  top: 14px;
  width: 54px;
}
.container {
  height: auto;
  position: absolute;
  left: 293.5px;
  top: 16.16px;
  overflow: visible;
}
