.transaction-filter,
.transaction-filter * {
  box-sizing: border-box;
}
.transaction-filter {
  background: #ffffff;
  height: 855px;
  position: relative;
  overflow: hidden;
}
.top-navigation {
  background: #ffffff;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 44px;
}
.frame-87 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pill {
  border-radius: 40px;
  border-style: solid;
  border-color: var(--base-light-light-60, #f1f1fa);
  border-width: 1px;
  padding: 8px 16px 8px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.magicons-glyph-arrow-arrow-down-2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.arrow-down-2 {
  width: 58.94%;
  height: 27.41%;
  position: absolute;
  right: 20.53%;
  left: 20.53%;
  bottom: 36.22%;
  top: 36.37%;
  overflow: visible;
}
.month {
  color: var(--base-dark-dark-50, #212325);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-86 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-icon {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--base-light-light-60, #f1f1fa);
  border-width: 1px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.magicons-glyph-user-interface-sort {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.sort {
  width: 75%;
  height: 56.25%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 21.88%;
  top: 21.88%;
  overflow: visible;
}
.bars {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 375px;
  position: absolute;
  left: 0px;
  top: 108px;
}
.frame-76 {
  background: #eee5ff;
  border-radius: 8px;
  padding: 8px 8px 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 343px;
  position: relative;
}
.see-your-financial-report {
  color: var(--violet-violet-100, #7f3dff);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.magicons-glyph-arrow-arrow-right-2 {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.arrow-right-2 {
  width: 27.75%;
  height: 59.13%;
  position: absolute;
  right: 36.03%;
  left: 36.22%;
  bottom: 20.34%;
  top: 20.53%;
  overflow: visible;
}
.card-transaction {
  width: 336px;
  height: 89px;
  position: absolute;
  left: 19px;
  top: 220px;
}
.rectangle-2 {
  background: var(--base-light-light-80, #fcfcfc);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90.18%;
  height: 67.42%;
  position: absolute;
  right: 4.76%;
  left: 5.06%;
  bottom: 16.85%;
  top: 15.73%;
}
.frame-5 {
  background: var(--yellow-yellow-20, #fceed4);
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.magicons-glyph-ecommerce-shopping-shopping-bag {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.shopping-bag {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.frame-3 {
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  height: 60px;
  position: relative;
}
.shopping {
  color: var(--base-dark-dark-25, #292b2d);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.buy-an-avocado {
  color: var(--base-light-light-20, #91919f);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.frame-47 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rp-229-000 {
  color: var(--red-red-100, #fd3c4a);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
._03-30-pm {
  color: var(--base-light-light-20, #91919f);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.card-transaction2 {
  width: 336px;
  height: 89px;
  position: absolute;
  left: 19px;
  top: 414px;
}
.frame-52 {
  background: var(--red-red-20, #fdd5d7);
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.magicons-glyph-travel-restaurant {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.restaurant {
  height: auto;
  position: absolute;
  left: 6.25px;
  top: 5px;
  overflow: visible;
}
.bars2 {
  background: #ffffff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 375px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 172px;
}
.frame-88 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.yesterday {
  color: #0d0e0f;
  text-align: left;
  font-family: var(--title-title-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-title-3-font-size, 18px);
  font-weight: var(--title-title-3-font-weight, 600);
  position: relative;
}
.bars3 {
  background: #ffffff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 375px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 503px;
}
.card-transaction3 {
  width: 336px;
  height: 89px;
  position: absolute;
  left: 19px;
  top: 551px;
}
.frame-53 {
  background: var(--green-green-20, #cffaea);
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.magicons-glyph-finance-salary {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.salary {
  height: auto;
  position: absolute;
  left: 7.5px;
  top: 5.19px;
  overflow: visible;
}
.salary2 {
  color: var(--base-dark-dark-25, #292b2d);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.rp-3-129-000 {
  color: #00a86b;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
._04-30-pm {
  color: var(--base-light-light-20, #91919f);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.card-transaction4 {
  width: 336px;
  height: 89px;
  position: absolute;
  left: 19px;
  top: 648px;
}
.frame-54 {
  background: var(--blue-blue-20, #bddcff);
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.magicons-glyph-travel-car {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.car {
  width: 87.5%;
  height: 74.96%;
  position: absolute;
  right: 6.25%;
  left: 6.25%;
  bottom: 12.54%;
  top: 12.5%;
  overflow: visible;
}
.card-transaction5 {
  width: 336px;
  height: 89px;
  position: absolute;
  left: 19px;
  top: 317px;
}
.frame-55 {
  background: var(--violet-violet-20, #eee5ff);
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.magicons-glyph-finance-recurring-bill {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.recurring-bill {
  height: auto;
  position: absolute;
  left: 7.5px;
  top: 5px;
  overflow: visible;
}
.recurring-bill2 {
  height: auto;
  position: absolute;
  left: 7.5px;
  top: 5px;
  overflow: visible;
}
.status-bar {
  background: var(--base-light-light-100, #ffffff);
  width: 375px;
  height: 44px;
  position: sticky;
  left: 0px;
  top: 0px;
}
.action {
  position: absolute;
  inset: 0;
}
.time {
  color: var(--colors-dark-base-1, #161719);
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.17px;
  font-weight: 600;
  position: absolute;
  left: 19.89px;
  top: 14px;
  width: 54px;
}
.container {
  height: auto;
  position: absolute;
  left: 293.5px;
  top: 16.16px;
  overflow: visible;
}
.bottom-navigation {
  width: 375px;
  height: 79px;
  position: sticky;
  left: 0px;
  bottom: 34px;
}
.container2 {
  width: 100%;
  height: 88.61%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 11.39%;
  overflow: visible;
}
.home {
  position: absolute;
  inset: 0;
}
.home2 {
  color: #c6c6c6;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 84.8%;
  left: 7.47%;
  width: 7.73%;
  bottom: 13.92%;
  top: 70.89%;
  height: 15.19%;
}
.magicons-glyph-user-interface-home {
  width: 8.53%;
  height: 40.51%;
  position: absolute;
  right: 84.53%;
  left: 6.93%;
  bottom: 34.18%;
  top: 25.32%;
  overflow: hidden;
}
.home3 {
  width: 74.8%;
  height: 74.95%;
  position: absolute;
  right: 12.51%;
  left: 12.69%;
  bottom: 12.5%;
  top: 12.55%;
  overflow: visible;
}
.transaction {
  position: absolute;
  inset: 0;
}
.transaction2 {
  color: var(--violet-violet-100, #7f3dff);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 62.67%;
  left: 22.13%;
  width: 15.2%;
  bottom: 13.92%;
  top: 70.89%;
  height: 15.19%;
}
.magicons-glyph-finance-transaction {
  width: 8.53%;
  height: 40.51%;
  position: absolute;
  right: 65.87%;
  left: 25.6%;
  bottom: 34.18%;
  top: 25.32%;
  overflow: hidden;
}
.transaction3 {
  width: 86.69%;
  height: 67.86%;
  position: absolute;
  right: 6.66%;
  left: 6.65%;
  bottom: 16.09%;
  top: 16.05%;
  overflow: visible;
}
.profile {
  position: absolute;
  inset: 0;
}
.magicons-glyph-ecommerce-shopping-user {
  width: 8.53%;
  height: 40.51%;
  position: absolute;
  right: 7.73%;
  left: 83.73%;
  bottom: 36.71%;
  top: 22.78%;
  overflow: hidden;
}
.user {
  width: 62.5%;
  height: 74.78%;
  position: absolute;
  right: 18.75%;
  left: 18.75%;
  bottom: 12.5%;
  top: 12.72%;
  overflow: visible;
}
.profile2 {
  color: #c6c6c6;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 8%;
  left: 83.73%;
  width: 8.27%;
  bottom: 16.46%;
  top: 68.35%;
  height: 15.19%;
}
.budget {
  position: absolute;
  inset: 0;
}
.magicons-glyph-finance-pie-chart {
  width: 8.53%;
  height: 40.51%;
  position: absolute;
  right: 26.4%;
  left: 65.07%;
  bottom: 34.18%;
  top: 25.32%;
  overflow: hidden;
}
.pie-chart {
  height: auto;
  position: absolute;
  left: 4.05px;
  top: 4px;
  overflow: visible;
}
.budget2 {
  color: #c6c6c6;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 25.87%;
  left: 64.8%;
  width: 9.33%;
  bottom: 13.92%;
  top: 70.89%;
  height: 15.19%;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.ellipse-25 {
  background: var(--violet-violet-100, #7f3dff);
  border-radius: 50%;
  width: 14.93%;
  height: 70.89%;
  position: absolute;
  right: 42.4%;
  left: 42.67%;
  bottom: 29.11%;
  top: 0%;
}
.magicons-glyph-user-interface-close {
  width: 10.67%;
  height: 50.63%;
  position: absolute;
  right: 39.39%;
  left: 49.94%;
  bottom: 49.37%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  overflow: hidden;
}
.close {
  width: 46.19%;
  height: 46.19%;
  position: absolute;
  right: 26.81%;
  left: 27%;
  bottom: 27%;
  top: 26.81%;
  overflow: visible;
}
.background-overlay {
  width: 375px;
  height: 856px;
  position: sticky;
  left: 0px;
  top: 0px;
}
.rectangle-210 {
  background: var(--base-dark-dark-100, #0d0e0f);
  opacity: 0.16;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.home-indicator {
  background: #ffffff;
  width: 375px;
  height: 34px;
  position: sticky;
  left: 0px;
  bottom: 0px;
}
.home-indicator2 {
  background: var(--label-color-light-primary, #000000);
  border-radius: 100px;
  width: 134px;
  height: 5px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
}
.sheet-bottom {
  background: #ffffff;
  border-radius: 24px 24px 0px 0px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 375px;
  position: sticky;
  left: 0px;
  bottom: 34px;
}
.line-5 {
  margin-top: -4px;
  border-style: solid;
  border-color: var(--violet-violet-40, #d3bdff);
  border-width: 4px 0 0 0;
  flex-shrink: 0;
  width: 36px;
  height: 0px;
  position: relative;
}
.frame-332 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.filter-transaction {
  color: #000000;
  text-align: left;
  font-family: var(--body-body-2-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-body-2-font-size, 16px);
  font-weight: var(--body-body-2-font-weight, 600);
  position: relative;
}
.pill2 {
  background: var(--violet-violet-20, #eee5ff);
  border-radius: 40px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
.see-all {
  color: var(--violet-violet-100, #7f3dff);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-322 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-3322 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.filter-by {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: left;
  font-family: var(--body-body-2-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-body-2-font-size, 16px);
  font-weight: var(--body-body-2-font-weight, 600);
  position: relative;
}
.frame-321 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 342px;
  position: relative;
}
.frame-318 {
  border-radius: 24px;
  border-style: solid;
  border-color: var(--base-light-light-40, #e3e5e5);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.income {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
}
.frame-319 {
  background: var(--violet-violet-20, #eee5ff);
  border-radius: 24px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.expense {
  color: var(--violet-violet-100, #7f3dff);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
}
.frame-320 {
  border-radius: 24px;
  border-style: solid;
  border-color: var(--base-light-light-40, #e3e5e5);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.transfer {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
}
.frame-324 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sort-by {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: left;
  font-family: var(--body-body-2-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-body-2-font-size, 16px);
  font-weight: var(--body-body-2-font-weight, 600);
  position: relative;
  width: 342px;
}
.frame-3212 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-327 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.highest {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
}
.frame-3192 {
  border-radius: 24px;
  border-style: solid;
  border-color: var(--base-light-light-40, #e3e5e5);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.lowest {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
}
.newest {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
}
.frame-326 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-3213 {
  border-radius: 24px;
  border-style: solid;
  border-color: var(--base-light-light-40, #e3e5e5);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.oldest {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: center;
  font-family: var(--body-body-3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-3-font-size, 14px);
  line-height: var(--body-body-3-line-height, 18px);
  font-weight: var(--body-body-3-font-weight, 500);
  position: relative;
}
.frame-323 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.category {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: left;
  font-family: var(--body-body-2-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-body-2-font-size, 16px);
  font-weight: var(--body-body-2-font-weight, 600);
  position: relative;
}
.list-item {
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 375px;
  position: relative;
}
.frame-98 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--base-dark-dark-25, #292b2d);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.frame-99 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.description {
  color: var(--base-light-light-20, #91919f);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
.magicons-glyph-arrow-arrow-right-22 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.arrow-right-22 {
  width: 27.75%;
  height: 59.13%;
  position: absolute;
  right: 36.03%;
  left: 36.22%;
  bottom: 20.34%;
  top: 20.53%;
  overflow: visible;
}
.button-large {
  background: var(--violet-violet-100, #7f3dff);
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 343px;
  height: 56px;
  position: relative;
}
.primary {
  color: var(--base-light-light-80, #fcfcfc);
  text-align: center;
  font-family: var(--title-title-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-title-3-font-size, 18px);
  font-weight: var(--title-title-3-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
