.account-add-wallet,
.account-add-wallet * {
  box-sizing: border-box;
}
.account-add-wallet {
  background: #ffffff;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.rectangle-31 {
  width: 375px;
  height: 833px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.background {
  background: var(--violet-violet-100, #7f3dff);
  width: 375px;
  height: 812px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.top-navigation {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  width: 375px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 44px;
}
.frame-78 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.magicons-glyph-arrow-arrow-left {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.arrow-left {
  width: 74.99%;
  height: 50.44%;
  position: absolute;
  right: 12.5%;
  left: 12.51%;
  bottom: 24.78%;
  top: 24.78%;
  overflow: visible;
}
.title {
  color: var(--base-light-light-100, #ffffff);
  text-align: center;
  font-family: var(--title-title-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-title-3-font-size, 18px);
  font-weight: var(--title-title-3-font-weight, 600);
  position: relative;
  align-self: stretch;
  width: 247px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.magicons-outline-user-interface-create {
  opacity: 0;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.create {
  width: 68.77%;
  height: 68.75%;
  position: absolute;
  right: 15.6%;
  left: 15.62%;
  bottom: 15.62%;
  top: 15.62%;
  overflow: visible;
}
._400 {
  color: var(--base-light-light-80, #fcfcfc);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  left: 16px;
  top: 429px;
}
.s-d {
  color: var(--base-light-light-80, #fcfcfc);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.64;
  position: absolute;
  left: 16px;
  top: 394px;
}
.status-bar {
  width: 375px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.action {
  position: absolute;
  inset: 0;
}
.time {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.17px;
  font-weight: 600;
  position: absolute;
  left: 19.89px;
  top: 14px;
  width: 54px;
}
.container {
  height: auto;
  position: absolute;
  left: 293.5px;
  top: 16.16px;
  overflow: visible;
}
.frame-295 {
  background: #ffffff;
  border-radius: 32px 32px 0px 0px;
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 514px;
}
.frame-291 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.input-field {
  background: var(--base-light-light-100, #ffffff);
  border-radius: 16px;
  border-style: solid;
  border-color: var(--base-light-light-60, #f1f1fa);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 343px;
  height: 56px;
  position: relative;
}
.frame-216 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-219 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.placeholder {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 287px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-field2 {
  background: var(--base-light-light-100, #ffffff);
  border-radius: 16px;
  border-style: solid;
  border-color: var(--base-light-light-60, #f1f1fa);
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 343px;
  position: relative;
}
.frame-283 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
}
.magicons-glyph-arrow-arrow-down-2 {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.arrow-down-2 {
  width: 58.94%;
  height: 27.41%;
  position: absolute;
  right: 20.53%;
  left: 20.53%;
  bottom: 36.22%;
  top: 36.37%;
  overflow: visible;
}
.group-259 {
  position: sticky;
  left: 0px;
  bottom: 34px;
}
.rectangle-224 {
  background: #ffffff;
  width: 375px;
  height: 88px;
  position: absolute;
  left: 0px;
  bottom: 34px;
}
.button-large {
  background: var(--violet-violet-100, #7f3dff);
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 343px;
  height: 56px;
  position: absolute;
  left: 16px;
  bottom: 50px;
}
.primary {
  color: var(--base-light-light-80, #fcfcfc);
  text-align: center;
  font-family: var(--title-title-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-title-3-font-size, 18px);
  font-weight: var(--title-title-3-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-indicator {
  background: #fcfcfc;
  width: 375px;
  height: 34px;
  position: sticky;
  left: 0px;
  bottom: 0px;
}
.home-indicator2 {
  background: var(--label-color-light-primary, #000000);
  border-radius: 100px;
  width: 134px;
  height: 5px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
}
