.budget-empty-state,
.budget-empty-state * {
  box-sizing: border-box;
}
.budget-empty-state {
  background: #ffffff;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.rectangle-29 {
  background: var(--violet-violet-100, #7f3dff);
  width: 375px;
  height: 812px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-28 {
  background: var(--base-light-light-80, #fcfcfc);
  border-radius: 24px 24px 0px 0px;
  width: 375px;
  height: 665px;
  position: absolute;
  left: 0px;
  top: 147px;
}
.b-n-ch-a-c-ng-n-s-ch-t-o-ng-n-s-ch-qu-n-l-t-i-ch-nh-c-a-m-nh {
  color: var(--base-light-light-20, #91919f);
  text-align: center;
  font-family: var(--body-body-1-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-body-1-font-size, 16px);
  font-weight: var(--body-body-1-font-weight, 500);
  position: absolute;
  left: 18px;
  top: 387px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-large {
  background: var(--violet-violet-100, #7f3dff);
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 343px;
  height: 56px;
  position: absolute;
  left: 16px;
  top: 619px;
}
.primary {
  color: var(--base-light-light-80, #fcfcfc);
  text-align: center;
  font-family: var(--title-title-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-title-3-font-size, 18px);
  font-weight: var(--title-title-3-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-47 {
  position: absolute;
  inset: 0;
}
.th-ng-5 {
  color: var(--base-light-light-80, #fcfcfc);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 140px;
  top: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.magicons-glyph-arrow-arrow-left-2 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 16px;
  top: 83px;
  overflow: hidden;
}
.arrow-left-2 {
  width: 27.59%;
  height: 59.13%;
  position: absolute;
  right: 36.22%;
  left: 36.19%;
  bottom: 20.34%;
  top: 20.53%;
  overflow: visible;
}
.magicons-glyph-arrow-arrow-right-2 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 327px;
  top: 83px;
  overflow: hidden;
}
.arrow-right-2 {
  width: 27.75%;
  height: 59.13%;
  position: absolute;
  right: 36.03%;
  left: 36.22%;
  bottom: 20.34%;
  top: 20.53%;
  overflow: visible;
}
.status-bar {
  width: 375px;
  height: 44px;
  position: sticky;
  left: 0px;
  top: 0px;
}
.action {
  position: absolute;
  inset: 0;
}
.time {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.17px;
  font-weight: 600;
  position: absolute;
  left: 19.89px;
  top: 14px;
  width: 54px;
}
.container {
  height: auto;
  position: absolute;
  left: 293.5px;
  top: 16.16px;
  overflow: visible;
}
.bottom-navigation {
  width: 375px;
  height: 79px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  
}
.container2 {
  width: 100%;
  height: 88.61%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 11.39%;
  overflow: visible;
}
.home {
  position: absolute;
  inset: 0;
}
.home2 {
  color: #c6c6c6;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 79.73%;
  left: 7.47%;
  width: 12.8%;
  bottom: 13.92%;
  top: 70.89%;
  height: 15.19%;
}
.magicons-glyph-user-interface-home {
  width: 8.53%;
  height: 40.51%;
  position: absolute;
  right: 84.53%;
  left: 6.93%;
  bottom: 34.18%;
  top: 25.32%;
  overflow: hidden;
}
.home3 {
  width: 74.8%;
  height: 74.95%;
  position: absolute;
  right: 12.51%;
  left: 12.69%;
  bottom: 12.5%;
  top: 12.55%;
  overflow: visible;
}
.transaction {
  position: absolute;
  inset: 0;
}
.transaction2 {
  color: #c6c6c6;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 65.6%;
  left: 22.13%;
  width: 12.27%;
  bottom: 13.92%;
  top: 70.89%;
  height: 15.19%;
}
.magicons-glyph-finance-transaction {
  width: 8.53%;
  height: 40.51%;
  position: absolute;
  right: 65.87%;
  left: 25.6%;
  bottom: 34.18%;
  top: 25.32%;
  overflow: hidden;
}
.transaction3 {
  width: 86.69%;
  height: 67.86%;
  position: absolute;
  right: 6.66%;
  left: 6.65%;
  bottom: 16.09%;
  top: 16.05%;
  overflow: visible;
}
.profile {
  position: absolute;
  inset: 0;
}
.magicons-glyph-ecommerce-shopping-user {
  width: 8.53%;
  height: 40.51%;
  position: absolute;
  right: 7.73%;
  left: 83.73%;
  bottom: 36.71%;
  top: 22.78%;
  overflow: hidden;
}
.user {
  width: 62.5%;
  height: 74.78%;
  position: absolute;
  right: 18.75%;
  left: 18.75%;
  bottom: 12.5%;
  top: 12.72%;
  overflow: visible;
}
.profile2 {
  color: #c6c6c6;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 12.27%;
  left: 83.73%;
  width: 4%;
  bottom: 16.46%;
  top: 68.35%;
  height: 15.19%;
}
.budget {
  position: absolute;
  inset: 0;
}
.magicons-glyph-finance-pie-chart {
  width: 8.53%;
  height: 40.51%;
  position: absolute;
  right: 26.4%;
  left: 65.07%;
  bottom: 34.18%;
  top: 25.32%;
  overflow: hidden;
}
.pie-chart {
  height: auto;
  position: absolute;
  left: 4.05px;
  top: 4px;
  overflow: visible;
}
.budget2 {
  color: var(--violet-violet-100, #7f3dff);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  right: 21.6%;
  left: 64.8%;
  width: 13.6%;
  bottom: 13.92%;
  top: 70.89%;
  height: 15.19%;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.ellipse-25 {
  background: var(--violet-violet-100, #7f3dff);
  border-radius: 50%;
  width: 14.93%;
  height: 70.89%;
  position: absolute;
  right: 42.4%;
  left: 42.67%;
  bottom: 29.11%;
  top: 0%;
}
.magicons-glyph-user-interface-close {
  width: 10.67%;
  height: 50.63%;
  position: absolute;
  right: 39.39%;
  left: 49.94%;
  bottom: 49.37%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  overflow: hidden;
}
.close {
  width: 46.19%;
  height: 46.19%;
  position: absolute;
  right: 26.81%;
  left: 27%;
  bottom: 27%;
  top: 26.81%;
  overflow: visible;
}
.home-indicator {
  background: #fcfcfc;
  width: 375px;
  height: 34px;
  position: sticky;
  left: 0px;
  top: 778px;
}
.home-indicator2 {
  background: var(--label-color-light-primary, #000000);
  border-radius: 100px;
  width: 134px;
  height: 5px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
}
