.financial-report-budget,
.financial-report-budget * {
  box-sizing: border-box;
}
.financial-report-budget {
  background: #ffffff;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.rectangle-217 {
  background: var(--violet-violet-100, #7f3dff);
  width: 375px;
  height: 812px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-224 {
  height: auto;
  position: absolute;
  left: 13px;
  top: 63px;
  overflow: visible;
}
.th-ng-n-y {
  color: var(--base-light-light-100, #ffffff);
  text-align: left;
  font-family: var(--title-title-2-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-title-2-font-size, 24px);
  font-weight: var(--title-title-2-font-weight, 600);
  opacity: 0.72;
  position: absolute;
  left: 122px;
  top: 99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2-tr-n-12-kho-n-chi-v-t-qu-h-n-m-c {
  color: var(--base-light-light-100, #ffffff);
  text-align: center;
  font-family: var(--title-title-1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-title-1-font-size, 32px);
  line-height: var(--title-title-1-line-height, 39px);
  font-weight: var(--title-title-1-font-weight, 700);
  position: absolute;
  left: 16px;
  top: 329px;
  width: 343px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-select {
  background: var(--base-light-light-80, #fcfcfc);
  border-radius: 24px;
  border-style: solid;
  border-color: var(--base-light-light-40, #e3e5e5);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 81px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 41px;
  top: 434px;
}
.frame-329 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-328 {
  background: var(--yellow-yellow-20, #fceed4);
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.magicons-glyph-ecommerce-shopping-shopping-bag {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.shopping-bag {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.frame-264 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mua-s-m {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: center;
  font-family: var(--title-title-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-title-3-font-size, 18px);
  font-weight: var(--title-title-3-font-weight, 600);
  position: relative;
}
.list-item-select2 {
  background: var(--base-light-light-80, #fcfcfc);
  border-radius: 24px;
  border-style: solid;
  border-color: var(--base-light-light-40, #e3e5e5);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 81px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 219px;
  top: 434px;
}
.frame-3282 {
  background: var(--red-red-20, #fdd5d7);
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.magicons-glyph-travel-restaurant {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.restaurant {
  height: auto;
  position: absolute;
  left: 3.75px;
  top: 3px;
  overflow: visible;
}
.n-u-ng {
  color: var(--base-dark-dark-100, #0d0e0f);
  text-align: center;
  font-family: var(--title-title-3-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--title-title-3-font-size, 18px);
  font-weight: var(--title-title-3-font-weight, 600);
  position: relative;
}
.home-indicator {
  width: 375px;
  height: 34px;
  position: sticky;
  left: 0px;
  bottom: 0px;
}
.home-indicator2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.home-indicator3 {
  background: var(--label-color-dark-primary, #ffffff);
  border-radius: 100px;
  width: 134px;
  height: 5px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 8px;
}
.status-bar {
  width: 375px;
  height: 44px;
  position: sticky;
  left: 0px;
  top: 0px;
}
.action {
  position: absolute;
  inset: 0;
}
.time {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.17px;
  font-weight: 600;
  position: absolute;
  left: 19.89px;
  top: 14px;
  width: 54px;
}
.container {
  height: auto;
  position: absolute;
  left: 293.5px;
  top: 16.16px;
  overflow: visible;
}
